body{
    background-image: url("../images/fondo_intro_inicio.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#formulario {
    max-width: 400px;
    margin-top: 10%;
    margin-left: 60%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
#contenedor_1{
    width: 100%;
}
#formulario input[type="text"],
#formulario input[type="date"],
#formulario button, 
#formulario input[type="number"] {
    width: 100%;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #3d3c3c;
    padding: 10px;
    font-size: medium;
}
#formulario #contenedor_1 .texto{
    font-family: Arial, sans-serif;
    color: rgb(20, 19, 31);
    margin-top: 10px;
}
#formulario button {
    background-color: #f96c00;
    margin-top: 30px;
    color: white;
    cursor: pointer;
} 
#formulario button:hover {
    background-color: #fca020;
    color: #3d3c3c;
} 
#resultados {
    margin-top: 20px;
}
#resultados div {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
#formulario #contenedor_1 .titulo{
    font-family: Arial, sans-serif;
    color: #3d3c3c;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Seleccion */
.navbar {
  background-color: white;
  padding: 25px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-list li {
  margin-right: 20px;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-list li a {
    color: #5a5a5a;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav-list li a.activado{
    color: white;
    background-color: #f96c00;
  }
.nav-list li a.activado:hover {
  background-color: #ccc;
}
.icono-avion {
    position: relative;
    z-index: 2;
}
#contenedor_3{
    width: 100%;
    display: block;
}
#contenedor_3 #contenedor_4, #contenedor_5{
    width: 80%;
    margin-left: 10%;
}
#contenedor_3 #contenedor_4 .titulo, #contenedor_5 .titulo{
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(73, 72, 72, 0.5);
    margin-top: 50px;
}
#contenedor_3 #contenedor_4 .contenedor_vuelo {  
    display: grid;
    grid-template-columns: 15% 25% 25% 25%;
    grid-template-rows: 25% 25% 25%;
    grid-auto-columns: 1fr;
    gap: 0px 26px;
    padding: 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "texto_lugar_ida . texto_lugar_regreso ."
      ". tiempo . precio"
      "hora_ida . hora_regreso .";
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}
#contenedor_3 #contenedor_4 .contenedor_vuelo:hover{
    background-color: rgb(248, 217, 177);
}
#contenedor_3 #contenedor_5 .contenedor_vuelo:hover{
    background-color: rgb(248, 217, 177);
}
#contenedor_3 #contenedor_5 .contenedor_vuelo {  
    display: grid;
    grid-template-columns: 15% 25% 25% 25%;
    grid-template-rows: 25% 25% 25%;
    grid-auto-columns: 1fr;
    gap: 0px 26px;
    padding: 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "texto_lugar_regreso . texto_lugar_ida ."
      ". tiempo . precio"
      "hora_ida . hora_regreso .";
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: white;
      margin-bottom: 20px;
      border-radius: 10px;
      cursor: pointer;
}
  .texto_lugar_ida { 
    grid-area: texto_lugar_ida; 
    font-size: medium;
    color: #5a5a5a;
}
  .tiempo { 
    grid-area: tiempo; 
    color: #5a5a5a;
    font-size: small;
}
  .hora_ida { 
    grid-area: hora_ida; 
    font-size: x-large;
    font-weight: bold;
    color: #3d3c3c;
}
  .texto_lugar_regreso { 
    grid-area: texto_lugar_regreso; 
    font-size: medium;
    color: #5a5a5a;
}
  .hora_regreso { 
    grid-area: hora_regreso; 
    font-size: x-large;
    font-weight: bold;
    color: #3d3c3c;
}
  .precio { 
    grid-area: precio; 
    font-size: x-large;
    font-weight: bold;
    color: #3d3c3c;
}
#contenedor_3 #contenedor_6 {
    display: flex;
    justify-content: center;
}
#contenedor_3 #contenedor_6 button{
    color: white;
    background-color: rgb(255, 225, 1);
    border: none;
    padding: 20px 15px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    
}
#contenedor_3 #contenedor_6 button{
    font-family: Arial, sans-serif;
    background-color: #f96c00;
    color: #f9f9f9;
    text-decoration: none;
    font-size: large;
}
#contenedor_3 #contenedor_6 button:hover{
    background-color: #fca020;
    color: #3d3c3c;
}

/* Personalización */
.contenido {
    padding: 700px;
}
.info_pie_pagina {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f96c00;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.resumen_detalles_vuelo {
    text-align: center;
    width: 40%;
}
.resumen_precio {
    text-align: center;
    width: 60%;
}
.resumen_precio {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
.resumen_precio h2 {
    width: 100%;
    text-align: center;
}
.resumen_precio p,
.resumen_precio div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
}
.resumen_precio .total{
    font-size: x-large;
    font-weight: bold;;
}
#contenedor_datos_pasajeros{
    background-color: rgba(204, 204, 204, 0.5);
    padding: 10px;
}
form {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #3d3c3c;
}
input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contenedor_boton, .contenedor_boton_guardado{
    display: flex;
    justify-content: center;
}
.contenedor_boton button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #f96c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contenedor_boton_guardado button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #f96c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #fca020;
}
.contenedor_opciones {
    display: flex;
    justify-content: center;
    background-color: rgba(204, 204, 204, 0.5);
    padding: 40px;
    margin-bottom: 200px;
}
.box_1, .box_2, .box_3 {
    width: 22%;
    height: 300px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
}
.box_1 img, .box_2 img{
    margin-left: 50px;
    margin-top: 20px;
}
.box_3 img{
    margin-left: 80px;
    margin-top: 20px;
    width: 96px;
}
.contenedor_opciones .descripcion, .contenedor_opciones .precio{
    color:#3d3c3c;
    text-align: center;
    padding: 7px;
}

