/* Estilos generales del formulario */
#formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Estilos para los campos de entrada */
  #formulario input[type="text"],
  #formulario input[type="date"],
  #formulario button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
  }
  
  /* Estilos para el botón de envío */
  #formulario button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  /* Estilos para la sección de resultados */
  #resultados {
    margin-top: 20px;
  }
  
  /* Estilos para los elementos de resultados */
  #resultados div {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  